<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.userQna.mapper.ProductMapper">

	<select id="userQnaAllList" resultType ="co.yedam.userQna.service.UserQnaVO">
		SELECT * FROM USERQNA ORDER BY QNA_NO
	</select>
	
	<select id="userQnaSelect" resultType="co.yedam.userQna.service.UserQnaVO"
						parameterType="co.yedam.userQna.service.UserQnaVO">
		SELECT * FROM USERQNA WHERE QNA_NO =#{qnaNo}
	</select>
	
	<insert id="userQnaInsert" parameterType="co.yedam.userQna.service.UserQnaVO"> 
		INSERT INTO USERQNA VALUES(SEQ_USERQNA.NEXTVAL,#{userNo},
		#{productOrderNo}, #{productNo}, #{title}, #{contents}, SYSDATE,
		#{password}, #{qnaReply}, #{qnaState})
	</insert>
	
	<update id="userQnaUpdate" parameterType="co.yedam.userQna.service.UserQnaVO">
		UPDATE USERQNA SET 
	</update>
</mapper>

	
